<!DOCTYPE html>
<html>
  <head>
    <title>Policija | Pronađite nas</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-lg py-3">
      <h1>Pronađite nas</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Mjesto</th>
            <th>Zgrada</th>
            <th>Adresa</th>
          </tr>
        </thead>
        <tbody>
          {% for odjel in odjeli %}
          <tr>
            <td>{{ odjel[2] }}</td>
            <td>{{ odjel[3] }}</td>
            <td><a href="/odjeli/{{ odjel[2] }}">{{ odjel[6] }}</a></td>
            <td>{{ odjel[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
