<!DOCTYPE html>
<html>
  <head>
    <title>Vehicles</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container py-3">
      {% if result %}
      <div class="row">
        {% for row in result %}
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ row[0] }}</h5>
              <p class="card-text">Broj Zaposlenika: {{ row[1] }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="alert alert-info" role="alert">No data to display.</div>
      {% endif %}
    </div>
  </body>
</html>
