<!DOCTYPE html>
<html>
  <head>
    <title>Policija | Službenici</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1 class="mt-4 mb-4">Službenici</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ime i prezime</th>
            <th>Služba</th>
            <th>Datum rođenja</th>
            <th>OIB</th>
            <th>Spol</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Datum zaposlenja</th>
            <th>Datum izlaska iz službe</th>
            <th>Nadređeni</th>
          </tr>
        </thead>
        <tbody>
          {% for sluzbenik in sluzbenici %}
          <tr>
            <td>{{ sluzbenik[8] }}</td>
            <td>{{ sluzbenik[5] }}</td>
            <td>{{ sluzbenik[9].strftime('%d.%m.%Y') }}</td>
            <td>{{ sluzbenik[10] }}</td>
            <td>{{ sluzbenik[11] }}</td>
            <td>{{ sluzbenik[12] }}</td>
            <td>{{ sluzbenik[13] }}</td>
            <td>{{ sluzbenik[14] }}</td>
            <td>{{ sluzbenik[16].strftime('%d.%m.%Y') }}</td>
            <td>
              {{ sluzbenik[17].strftime('%d.%m.%Y') if sluzbenik[17] != None
              else 'None' }}
            </td>
            <td>{{ sluzbenik[-1] if sluzbenik[-1] != None else 'None' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
