<!DOCTYPE html>
<html>
  <head>
    <title>Policija | Vozila</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Automobili</h1>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <form method="GET" action="/vozila">
              <div class="form-group">
                <label for="ime_prezime">Ime i prezime:</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="ime_prezime"
                  name="ime_prezime"
                />
              </div>
              <div class="form-group">
                <label for="registracija">Registracija:</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="registracija"
                  name="registracija"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-sm btn-block float-right"
              >
                Filter
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <table class="table table-striped table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Marka automobila</th>
              <th>Model automobila</th>
              <th>Registracija</th>
              <th>Godina proizvodnje</th>
              <th>Službeno vozilo</th>
              <th>Vlasnik</th>
            </tr>
          </thead>
          <tbody>
            {% for vehicle in vehicles %}
            <tr class="{{ 'table-danger' if vehicle[4] is none else '' }}">
              <td>{{ vehicle[2] }}</td>
              <td>{{ vehicle[3] }}</td>
              <td>{{ vehicle[4] }}</td>
              <td>{{ vehicle[5] }}</td>
              <td>
                {% if vehicle[6] == 0 %}Ne{% elif vehicle[6] == 1 %}Da{% endif
                %}
              </td>
              <td>{{ vehicle[0] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
