<!DOCTYPE html>
<html>
  <head>
    <title>Policija | Zaposlenici</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-lg py-3">
      <h1>Područja uprave</h1>
      <ul class="list-group">
        {% for podrucje in podrucja %}
        <a
          href="{{ url_for('zaposlenici_podrucje', podrucje_uprave=podrucje[0]) }}"
          >{{ podrucje[1] }}</a
        >
        {% endfor %}
      </ul>
    </div>
    </html>
  </body>
</html>
