<!DOCTYPE html>
<html>
  <head>
    <title>Vehicles</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-lg py-3">
      <h1>Zaposlenici</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Ime i prezime</th>
            <th>Mjesto</th>
            <th>Zgrada</th>
          </tr>
        </thead>
        <tbody>
          {% for zaposlenik in zaposlenici %}
          <tr>
            <td>{{zaposlenik[9]}}</td>
            <td>{{zaposlenik[21]}}</td>
            <td>{{zaposlenik[19]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
